<div class="clr-row">
  <div class="clr-col-12">
      <br>
      <br>
  </div>
</div>
<div class="clr-row">
        <div class="clr-col-12" style="text-align: center;">
            <div class="btn-group btn-primary">
                <button class="btn" (click)="mesAnterior()"><</button>
                <a class="btn btn-outline"  >{{mes_actual}}, {{anio_actual}}</a>
                <button class="btn" (click)="mesSiguiente()">></button>
              </div>
        </div>        
</div>
<div class="clr-row">
  <div class="clr-col-12">
      <br>
  </div>
</div>
<div class="clr-row" >
  <div class="clr-col-12">
      <div style="width:100%; margin:0 auto; border: 1px groove gray; padding:5px;background-color: lightblue;">
          <div style="width: 14.2% ;display: inline-block; text-align: center;border:1px groove gray">
            <span style="color:black;font-weight: bold;">D</span>
          </div>
          <div style="width: 14.2% ;display: inline-block; text-align: center;border:1px groove gray">
            <span style="color:black;font-weight: bold;">L</span>
          </div>
          <div style="width: 14.2% ;display: inline-block; text-align: center;border:1px groove gray">
            <span style="color:black;font-weight: bold;">M</span>
          </div>
          <div style="width: 14.2% ;display: inline-block; text-align: center;border:1px groove gray">
            <span style="color:black;font-weight: bold;">M</span>
          </div>
          <div style="width: 14.2% ;display: inline-block; text-align: center;border:1px groove gray">
            <span style="color:black;font-weight: bold;">J</span>
          </div>
          <div style="width: 14.2% ;display: inline-block; text-align: center;border:1px groove gray">
            <span style="color:black;font-weight: bold;">V</span>
          </div>
          <div style="width: 14.2% ;display: inline-block; text-align: center;border:1px groove gray">
            <span style="color:black;font-weight: bold;">S</span>
          </div>
      </div>
  
      <div  style="width:100%; margin:0 auto; border: 1px groove gray; padding:5px;">
        <div id="container" *ngFor="let d of dias_mes_actual">
          
          <div *ngIf="d.dia != ''">
            <div id="dummy"></div>
            <div id="element">
              <div [ngStyle]="{'background-color': d.tiene_hora_disponible ? 'lightcyan': 'none' }"  style="height: 100%; width: 20%; display: inline-block;position:absolute;z-index:1;">
                <span style="position: relative;top:0" 
                [ngStyle]="{'color': d.tiene_hora_disponible ? 'black': 'black' }"
                >
                    {{d.dia}}
                </span>
              </div>              
              
              <div id="leyenda-horarios" *ngIf="d.tiene_hora_disponible" style="width: 100%;z-index:10;position:absolute;margin-top:25%">
                  Disponible
              </div>
              <div id="leyenda-horarios-lg" *ngIf="d.tiene_hora_disponible" style="width: 100%;z-index:10;position:absolute;margin-top:25%">
                Horarios disponibles
            </div>
            
            </div>
          </div>
        </div>          
      </div>
    </div>    
</div>
<div class="clr-row">
  <div class="clr-col-12">
      <br>
      <br>
  </div>
</div>