<div class="clr-row">
  <div class="clr-col-12">
      <br>
      <br>
  </div>
</div>
<div class="clr-row">
        <div class="clr-col-12" style="text-align: center;">
            <div class="btn-group btn-primary">
                <button class="btn" (click)="mesAnterior()"><</button>
                <a class="btn btn-outline"  >{{mes_actual}}, {{anio_actual}}</a>
                <button class="btn" (click)="mesSiguiente()">></button>
              </div>
        </div>        
</div>
<div class="clr-row">
  <div class="clr-col-12">
      <br>
  </div>
</div>
<div class="clr-row" >
  <div class="clr-col-12">
      <div style="width:100%; margin:0 auto; border: 1px groove gray; padding:5px;background-color: lightblue;">
          <div style="width: 14.2% ;display: inline-block; text-align: center;border:1px groove gray">
            <span style="color:black;font-weight: bold;">D</span>
          </div>
          <div style="width: 14.2% ;display: inline-block; text-align: center;border:1px groove gray">
            <span style="color:black;font-weight: bold;">L</span>
          </div>
          <div style="width: 14.2% ;display: inline-block; text-align: center;border:1px groove gray">
            <span style="color:black;font-weight: bold;">M</span>
          </div>
          <div style="width: 14.2% ;display: inline-block; text-align: center;border:1px groove gray">
            <span style="color:black;font-weight: bold;">M</span>
          </div>
          <div style="width: 14.2% ;display: inline-block; text-align: center;border:1px groove gray">
            <span style="color:black;font-weight: bold;">J</span>
          </div>
          <div style="width: 14.2% ;display: inline-block; text-align: center;border:1px groove gray">
            <span style="color:black;font-weight: bold;">V</span>
          </div>
          <div style="width: 14.2% ;display: inline-block; text-align: center;border:1px groove gray">
            <span style="color:black;font-weight: bold;">S</span>
          </div>
      </div>
  
      <div style="width:100%; margin:0 auto; border: 1px groove gray; padding:5px;">
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>1</span>
            <div syle="display:inline-block">
              <p style="font-size:10px;padding:0px;margin:0px ">Disponible</p>
            </div>
          </div>
        </div>  
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>2</span>
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>3</span>
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>4</span>
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>5</span>
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>6</span>
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>7</span>
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>8</span>
          </div>
        </div>  

        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>9</span>
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>10</span>
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>11</span>
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>12</span>
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>13</span>
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>14</span>
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>15</span>
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>16</span>
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>17</span>
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>18</span>
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>19</span>
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>20</span>
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>21</span>
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>22</span>
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>23</span>
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>24</span>
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>25</span>
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>26</span>
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>27</span>
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>28</span>            
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>29</span>
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>30</span>
          </div>
        </div>  
        
        <div id="container">
          <div id="dummy"></div>
          <div id="element">
            <span>31</span>
          </div>
        </div>  

        


      </div>
    </div>    
</div>