
<div class="modal" *ngIf="show">
    <div class="modal-dialog" role="dialog" aria-hidden="true" style="border-radius: 20px;">
        <div class="modal-content">
            <div class="modal-header"  style="border-top-right-radius: 20px;border-top-left-radius: 20px;">
                <button aria-label="Close" class="close" type="button">
                    <clr-icon aria-hidden="true" shape="close"></clr-icon>
                </button>
                <h3 class="modal-title" >
                  <span>
                    <img src="../../../assets/img/calendar.png">
                  </span>
                    Mis citas
                </h3>
            </div>
            <div class="modal-body" style="padding-top:0px;padding-bottom: 0px;padding-left:10px;padding-right: 10px;">
             <!--
              <div class="clr-row">
                <div class="clr-col-12" style="text-align:right">
                <br>
                    <div [formGroup]="form" class="clr-control-container"  >
                      <div class="clr-input-wrapper">
                      <label>Fecha cita: </label>
                        <input formControlName="fecha_cita" type="date" id="basic" class="clr-input"  />
                        <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                      </div>
                    </div>
                </div>
              </div>
                -->
                <div class="clr-row">
                <div class="clr-col-12" style="text-align:right">
                <br>
                    <div [formGroup]="form" class="clr-control-container"  >
                      <clr-checkbox-wrapper>
                        <input type="checkbox" clrCheckbox formControlName="solo_activas" (click)="soloActivas()"/>
                        <label>Solo citas activas.</label>
                      </clr-checkbox-wrapper>
                    </div>
                </div>
              </div>


              <table class="table">
                <thead>
                    <tr>
                        <th id="th0">                          
                        </th>
                        <th id="th1">Fecha cita</th>
                        <th id="th2">Horario</th>
                        <th id="th3" >Fecha viaje</th>
                        <th id="th4" class="td-destino">Lugar viaje</th>  
                        <th id="th5" class="td-estatus">Estatus</th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of citas">
                        <td>
                          <a *ngIf="c.estatus_cita__id == 1" class="btn-grid">
                            <span>
                              <img src="../../../assets/img/calendar-icon.png" style="width:20px;">
                            </span>                            
                          </a>
                        </td>
                        <td >
                          <span 
                            [ngStyle]="{'font-weight': c.estatus_cita__id == 1 ? 'bold':'none','text-decoration': c.estatus_cita__id == 1 ? 'none':'line-through' }"
                          >
                            {{c.horario_cita__fecha__fecha}}
                            </span>
                          </td>
                          <td >
                            <span 
                            [ngStyle]="{'font-weight': c.estatus_cita__id == 1 ? 'bold':'none','text-decoration': c.estatus_cita__id == 1 ? 'none':'line-through' }"
                      
                            >
                              {{c.horario_cita__horario}}
                              </span>
                            </td>
                        <td>
                            <span
                            [ngStyle]="{'font-weight': c.estatus_cita__id == 1 ? 'bold':'none','text-decoration': c.estatus_cita__id == 1 ? 'none':'line-through' }"
                      
                            >
                            {{c.fecha_viaje}}
                            </span>
                          </td>
                        <td class="td-destino">
                            <span
                              [ngStyle]="{'font-weight': c.estatus_cita__id == 1 ? 'bold':'none','text-decoration': c.estatus_cita__id == 1 ? 'none':'line-through' }"
                      
                            >
                            {{c.pais_destino}}
                            </span>
                          </td>    
                        <td class="td-destino">
                          <span
                          [ngStyle]="{'font-weight': c.estatus_cita__id == 1 ? 'bold':'none','text-decoration': c.estatus_cita__id == 1 ? 'none':'line-through' }"
                      
                          >
                            {{c.estatus_cita__estatus}}
                          </span>  
                          </td>                        
                    </tr>
                </tbody>
              </table>


               <div  class="clr-row" style="margin-top:-20px;">
                <div class="clr-col-12" style="text-align:right" *ngIf="pagination">
                 <span><img src="../../../assets/img/first-page-icon.png" (click)="firstPagina()" style="margin-top:-3px;cursor:pointer;margin-right:-5px"></span>
                    &nbsp;
                    <span><img src="../../../assets/img/back-icon.png" (click)="backPagina()" style="width:15px;margin-top:-3px;cursor:pointer;margin-right:-5px"></span>
                    &nbsp;
                    <div [formGroup]="form_page" class="clr-control-container"  >
                         <input clrInput style="width:20px" formControlName="num_page" name="input" (change)="cambiaPagina()"/> 
                    </div>
                    /
                    {{pagination.total_pages}}

                    &nbsp;
                    <span><img src="../../../assets/img/next2-icon.png" style="width:15px;margin-top:-3px;cursor:pointer;" (click)="nextPagina()"></span>
&nbsp;
                    <span><img src="../../../assets/img/last-page-icon.png" style="margin-top:-3px;cursor:pointer;" (click)="lastPagina()"></span>
                </div>
              </div>

              
            </div>
            <div class="modal-footer" >                                
                <a class="btn btn-sm btn-primary" type="button" 
                  (click)="show = false"
                >
                    <span>
                        <img src="../../../assets/img/cancel-icon.png"  style="width:15px;margin-top:-3px;">
                    </span>
                    &nbsp;
                  Cancelar
                </a>                
            </div>
            
           
        </div>
    </div>
</div>
<div class="modal-backdrop" aria-hidden="true" *ngIf="show"></div>


<div id="sppiner_div" *ngIf="spinner == true">
  <span  id="spinner" class="spinner spinner-lg">
    Loading...
  </span>
</div>