<diV class="clr-row" style="max-width: 100%;height: 120px;background-color:#7f7f7f;margin:0 auto">
  <div class=" clr-col-2 clr-col-sm-3" >
      <img src="../assets/img/logo-ana.png" style="width: 120px;margin-left: 30px;">
  </div>
  <div class=" clr-col-10 clr-col-sm-9" style="text-align: right;padding-top:50px;" >
    <a style="font-weight: bold;color:#f3950b;margin-right: 30px;">VOLVER A INICIO</a>    
  </div>
</diV>
<div class="clr-row" style="max-width: 90%;margin:0 auto;">
  <div class="clr-col-12">

      
    <div class="clr-row">
      <div class="clr-col-12" style="text-align: right;">
      <!--  <button class="btn btn-sm btn-icon" style="box-shadow: 2px 2px 2px gray;height: 45px;width: 100px;">
          <span>
            <img src="../../../assets/img/calendar-icon.png" style="width:20px">
          </span>
          <br>
          Mis citas
        </button>
        <button class="btn btn-sm btn-icon" style="box-shadow: 2px 2px 2px gray;height: 45px;width: 100px;">
          <span>
            <img src="../../../assets/img/tools-icon.png" style="width:20px">
          </span>
          <br>
          Admin.
        </button>        
        -->
        <button class="btn btn-sm btn-icon" style="box-shadow: 2px 2px 2px gray;height: 45px;width: 100px;">
          <span>
            <img src="../assets/img/icon/help-outline.svg" style="width:20px">
          </span>
          <br>
          Ayuda
        </button>
      </div>

    </div>
      <div class="clr-row">
        <div class="clr-col-12">
            <h1 style="font-size:20px; text-align: center;">Permiso Internacional de Conducir</h1>
        </div>
      </div>
      
      <div *ngIf="show_help">
                <div class="clr-row">
                  <div class="clr-col-12">
                      <hr style="color:gray">
                  </div>
                </div>
                <div class="clr-row">
                  <div class="clr-col-12">
                  <p style="font-size: 13px;">
                    <strong style="color:black">¡¡¡Atención </strong> Nuestras oficinas están en la CDMX!!!
                      <br>     <br>
                    Si tu deseas acudir a realizar el tramite en nuestras instalaciones estas en el lugar correcto.
                    <br>     <br>
                    De lo contrario, si tu te encuentras en otro estado o en el extranjero, es necesario hacer tu tramite en Linea aquí
                    <br>     <br>
                    Antes de empezar con tu tramite, verifica que cuentas con todos los <a  target="_blank" href="https://www.licenciainternacional.com.mx/#_tramiteOnline">requisitos</a>.
                    <br>     <br>
                  </p>
                </div>
                </div>

                <div class="clr-row">
                  <div class="clr-col-12">
                      <hr style="color:gray">
                  </div>
                </div>
                <div class="clr-row">
                  <div class="clr-col-12">
                    <h1 style="font-size:20px;">¿Como generar una cita Online?</h1>
                  </div>
                </div>

                <div class="clr-row">
                  <div class="clr-col-12 clr-col-md-6">
                      <p style="font-size: 13px;">
                        Para poder generar una cita hay que seguir 4  sencillos paso.
                        <br><br>
                        <strong>Paso 1.</strong>
                        Asegúrate que la documentación que necesita para realizar el trámite del Permiso Internacional de Conducir esté en orden en una copia y completa.
                        <br><br>
                        <strong>Paso 2.</strong>
                        Ya verificado esto procedemos al calendario y seleccione la fecha en la que le gustaría realizar su trámite.
                        <br><br>
                        <span style="font-size:10px">
                          Después de seleccionado el día, se muestran los horarios disponibles para agendar una cita. En esta sección debe seleccionar el horario en el que desea realizar su trámite.
                          Nota: Toma en cuenta que los horarios de las citas se generan a diario y la disposición del mismo es en las casillas que no están marcadas en azul.
                        </span>
                        <br><br>
                      </p>
                  </div>   
                  <div class="clr-col-12 clr-col-md-6">
                    <p style="font-size: 13px;">
                      <strong>Paso 3.</strong>
                      Una vez seleccionado el horario, se genera un formulario el cual debes llenar  con tus datos personales para generar una cita,
                      <br><br>
                      Los campos obligatorios (señalados con un *),deben estar llenados, en caso contrario no podrá generar la cita.
                      <br><br>
                      <strong>Paso 4.</strong>
                      Una vez llenado el formulario, presiona el botón “Crea Cita”. 
                      <br><br>
                      Si la generación de la cita fue exitosa recibirás una notificación en tu e-mail con los datos de la cita.
                      <br><br>
                      Una vez concluido el paso 4, terminamos con el proceso de degenerar tu cita.
                    </p>
                </div>           
              </div>
      </div>
      <app-calendario></app-calendario>
      <app-login></app-login>
  </div>
  
</div>


<!--<router-outlet></router-outlet>-->


