
<div class="modal" *ngIf="basic" >
    <div class="modal-dialog modal-md" role="dialog" aria-hidden="true" >
        <div class="modal-content">
            <div class="modal-header" >
                <button aria-label="Close" class="close" type="button">
                    <clr-icon aria-hidden="true" shape="close"></clr-icon>
                </button>
                <h1 class="modal-title" style="text-align: center;" >
                  <span>
                    <img src="../../../assets/img/logo-ana.png" style="width:100px">
                  </span>                    
                </h1>
                <br>
                <h3 class="modal-title" style="text-align: center;" >
                  Bienvenido
                </h3>
                <hr style="border:1px solid #eff4ff">   
            </div>
            <div class="modal-body" *ngIf="show_form_envio_token">
              
                Para continuar, es necesario que ingreses su correo electrónico.

                <form [formGroup]="form" class="clr-form">
                    <!--
                    <div class="clr-form-control" >
                      <label for="basic" class="clr-control-label">
                            <span>
                                <img src="../../../assets/img/whatsapp.png" style="width:15px;margin-top:-3px;">
                            </span>
                            Whatsapp
                        </label>
                      <div class="clr-control-container" >
                        <div class="clr-input-wrapper">
                          <input (focusout)="limpiaEmail()" formControlName="whatsapp" type="text" id="whatsapp" placeholder="ej.: 8130993586" class="clr-input" />
                          <clr-icon class="clr-validate-icon" shape="exclamation-circle" ></clr-icon>
                        </div>                        
                      </div>
                    </div>
                    <div>   
                      <br>                     
                        O
                    </div>
                    -->
                    <div class="clr-form-control">
                        <label for="basic" class="clr-control-label">
                            <span>
                                <img src="../../../assets/img/email.png" style="width:15px;margin-top:-3px;">
                            </span>
                            E-Mail
                        </label>
                        <div class="clr-control-container" style="width:100%;display: block;">
                          <div class="clr-input-wrapper">
                            <input (focusout)="limpiaWhatsapp()" formControlName="email" type="text" id="email" placeholder="ej.: mi-correo@correo.com.mx" class="clr-input"  style="display: block;width:90%;"/>
                            <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                          </div>
                          <!--<span class="clr-subtext">Helper Text</span>-->
                        </div>
                      </div>

                </form>

            </div>

            <div class="modal-body" *ngIf="!show_form_envio_token" style="margin-top:-30px">
                <p>Ingresa el codigo que se te envio al 
                  <strong>
                  {{tipo_autenticacion_str}}
                  </strong>
                  .</p>

                <form [formGroup]="form_codigo" class="clr-form" >
                    <div class="clr-row">
                      <div class="clr-col-sm-12 clr-col-md-6 ">
                        <div class="clr-form-control" style="padding:10px;text-align:center">
                          <label for="basic" class="clr-control-label" style="width:100%;text-align: center;">
                            <span>
                                <img src="../../../assets/img/llave.png" style="width:15px;margin-top:-3px;">
                            </span>
                            Codigo de verificación
                          </label>
                          <div class="clr-control-container" style="width:100%;text-align:center;" >
                            <div class="clr-input-wrapper">
                              <input formControlName="token" type="text" id="basic" class="clr-input" />
                              <clr-icon class="clr-validate-icon" shape="exclamation-circle" ></clr-icon>
                            </div>
                            <!--<span class="clr-subtext">Helper Text</span>-->
                          </div>

                          <div class="clr-control-container" style="width: 100%;text-align: center;" >
                              <br>
                            <a class="btn btn-sm" (click)="validaToken()">
                              <span>
                                <img src="../../../assets/img/user-icon.png" style="width:15px;margin-top:-3px;">
                              </span>
                              Ingresar
                            </a> 
                        </div>
                        </div>
                      </div>    
                      <div class="clr-col-sm-12 clr-col-md-6 ">
                         <div class="clr-form-control" style="background-color: #eff4ff;padding:10px;text-align:center;border-radius:10px">
                         <label for="basic" class="clr-control-label" style="width:100%;text-align: center">
                            <span>
                                <img src="../../../assets/img/error-icon.png" style="width:15px;margin-top:-3px;">
                            </span>
                            ¿No recibiste el codigo?
                          </label>
                          <div *ngIf="segundos != 0" class="clr-control-container" style="width: 100%;text-align: center;" >
                            <div class="clr-input-wrapper" >
                              {{segundos}} seg
                            </div>
                            <div class="clr-input-wrapper" >
                              para reenviar codigo
                            </div>
                            <!--<span class="clr-subtext">Helper Text</span>-->
                          </div>

                          <div *ngIf="segundos <= 0" class="clr-control-container" style="width: 100%;text-align: center;" >
                              
                              <a class="btn btn-sm" (click)="envioToken()">
                                <span>
                                  <img src="../../../assets/img/llave.png" style="width:15px;margin-top:-3px;">
                                </span>
                                Reenviar codigo
                              </a> 
                          </div>
                          <div  class="clr-control-container" style="width: 100%;text-align: center;" >
                              <hr style="border:1px solid white;">                            
                          </div>
                          <div  class="clr-control-container" style="width: 100%;text-align: center;" >                            
                            <a class="btn btn-sm" (click)="cambiarWhatsappEmail()">
                              
                              Cambiar 
                                                           
                              <span>
                                <img src="../../../assets/img/email.png" style="width:15px;margin-top:-3px;">
                              </span>                              
                            </a> 
                          </div>
                        </div>
                      </div>                
                    </div>     
                  </form>
            </div>
            <div class="modal-footer" *ngIf="show_form_envio_token == true">                                
                <a 
                  class="btn btn-default" 
                  type="button" 
                  href="https://licenciainternacional.com.mx/"
                  style="border-radius:20px"
                >
                  <span>
                    <img src="../../../assets/img/logo-ana.jpg"  style="width:15px;margin-top:-3px;">
                  </span>
                  Volver
                </a>
                <button 
                  class="btn btn-primary" 
                  type="button" 
                  (click)="envioToken()" 
                    style="border-radius:20px"
                  >
                  Siguiente
                  <span>
                    <img src="../../../assets/img/next-icon.png"  style="width:15px;margin-top:-3px;">
                  </span>
                </button>
            </div>
            
           
        </div>
    </div>
</div>
<div class="modal-backdrop" aria-hidden="true" *ngIf="basic"></div>


<div id="sppiner_div" *ngIf="sppiner_div == true">
  <span  id="spinner" class="spinner spinner-lg">
    Loading...
  </span>
</div>